<a href="https://colab.research.google.com/github/JosephAxe/Exercicios_Python/blob/main/Aulas_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aulas de Python para Magistrados

## 1- Instalação do Python

### Instalando Python

https://www.python.org/downloads/

### Ambiente de Desenvolvimento

https://www.jetbrains.com/pycharm/

## 2- Nosso primeiro programa

### Hello World

In [ ]:
print('Hello World!')

Hello World!

### Rodando o Script

Ir para o Pycharm

## 3- Varíaveis e Tipos de dados

### Dados do tipo númerico

<table>
  <tr>
    <th colspan='3'>TIPOS DE DADOS NÚMERICOS</th>
  </tr>

  <tr>
   <th>TIPOS DE DADOS</th>
   <th>PALAVRA CHAVE</th>
   <th>DESCRIÇÃO</th>
  </tr>

  <tr>
   <td>Inteiro</td>
   <td>int</td>
   <td>Um número inteiro</td>
  </tr>

  <tr>
    <td>Ponto flutuante</td>
    <td>float</td>
    <td>Um número real de ponto flutuante</td>
  </tr>  

  <tr>
    <td>Complexo</td>
    <td>complex </td>
    <td>Um número complexo</td>
  </tr>
</table)

Inteiro

In [ ]:
10

int

Ponto Flutuante

In [ ]:
0.523

float

Complexo

In [ ]:
1+3j

complex

### String

Sequência de caracteres

### Booleanos

Verdadeiro

In [ ]:
True

Falso

In [ ]:
False

### Sequências

<table>
  <tr>
    <th colspan='3'> TIPOS DE SEQUÊNCIAS</th>
  </tr>

  <tr>
    <th>TIPO DE DADO</th>
    <th>PALAVRA CHAVE</th>
    <th>DESCRIÇÃO</th>
  </tr>
  
  <tr>
    <td>Lista</td>
    <td>list</td>
    <td>Coleção de valores</td>
  </tr>
  
  <tr>
    <td>Tupla</td>
    <td>tuple</td>
    <td>Lista Imutável</td>
  </tr>

  <tr>
    <td>Dicionário</td>
    <td>dict</td>
    <td>Lista de pares chave-valor</td>
  </tr>

</table>

### Criando Variáveis

myNumber

myText

### Usando Variáveis

### Typecasting (conversão de tipos de dados)

## Operadores

### Operadores Aritiméticos

<table>
  <tr>
    <th colspan='3'>OPERADORES ARITIMÉTICOS</th>
  </tr>
  
  <tr>
    <th>OPERADOR</th>
    <th>NOME</th>
    <th>DESCRIÇÃO<th>
  </tr>

  <tr>
    <td>+</td>
    <td>Adição</td>
    <td>Soma dois valores</td>
  </tr>
  
  <tr>
    <td>-</td>
    <td>Subtração</td>
    <td>Subtrai um valor de outro valor</td>
  </tr>
  
  <tr>
    <td>*</td>
    <td>Multiplicação</td>
    <td>Multiplica dois valores</td>
  </tr>
  
  <tr>
    <td>/</td>
    <td>Divisisão</td>
    <td>Divide um valor pelo o outro</td>
  </tr>
  
  <tr>
    <td>%</td>
    <td>Resto</td> 
    <td>Retorna o resto de uma divisão</td>
  </tr>

  <tr>
    <td>**</td> 
    <td>Exponenciação</td> 
    <td>Eleva um valor ao expoente de outro</td> 
  </tr>

  <tr>
    <td>//</td>
    <td>Divisão sem Resto</td>
    <td>Retorna o resultado da divisão sem as casas decimais</td>
  </tr>
</table>

### Operadores de Atribuições

<table>
  <tr>
    <th colspan='2'>OPERADORES DE ATRIBUIÇÕES</th>
  </tr>
  
  <tr>
    <th>OPERADOR</th>
    <th>DESCRIÇÃO</th>
  </tr>
  
  <tr>
    <td>=</td>
    <td>Atribui um valor a variável</td>
  </tr>

  <tr>
    <td>+=</td>
    <td>Adiciona um valor a variável</td>
  </tr>

  <tr>
    <td>-=</td>
    <td>Subtrai o valor de uma variável</td>
  </tr>

  <tr>
    <td>*=</td>
    <td>Multiplica o valor de uma variável</td>
  </tr>

  <tr>
    <td>/=</td>
    <td>Divide a variável por um valor</td>
  </tr>

  <tr>
  <td>%=</td>
  <td>Atribui o resto de uma divisão<td>
  </tr>

  <tr>
  <td>**=</td>
  <td>Atribui o resultado de uma exponenciação</td>
  </tr>

  <tr>
  <td>//=</td>
  <td>Atribui o resultado de uma divisão sem as casas decimais</td>
  </tr>

</table>

### Operadores de Comparação

<table>
  <tr><th colspan='3'>OPERADORES DE COMPARAÇÃO</th></tr>

  <tr>
    <th>OPERADOR</th>
    <th>NOME</th>
    <th>DESCRIÇÃO</th>
  </tr>

  <tr>
    <td>==</td>
    <td>Igual</td>
    <td>OS dois valores são os mesmos</td>
  </tr>

  <tr>
    <td>!=</td>
    <td>Não igual</td>
    <td>Os dois valores são diferentes</td>
  </tr>

  <tr>
    <td>></td>
    <td>Maio que</td>
    <td>O primeiro valor é maior que o segundo valor</td>
  </tr>

  <tr>
    <td><</td>
    <td>Menor que</td>
    <td>O primeiro valor é menor que o segundo</td>
  </tr>

  <tr>
    <td>>=</td>
    <td>Maior que ou que</td>
    <td>O primeiro valor é maior ou igual ao segundo</td>
  </tr>

  <tr>
    <td><=</td>
    <td>Menor que ou igual</td>
    <td>O primeiro valor é menor ou igual ao segundo</td>
  </tr>

</table>